.ExTypePage--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.ExTypePage--item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 60%;

    gap: 10px;

    margin-block: 20px;
}

@media (max-width: 600px) {
    .ExTypePage--item-container {
        gap: 5px;
    }
}