.char{
    position: relative;
    width: 100%;
}
.back{
    position: absolute;
    
    width: 100%;
    height: 100%;
}

.front{
    position: absolute;
    z-index: 99;

    width: 100%;
    height: 100%;
}
svg{
    width: 100%;
    height: 100%;
}

.contain{
    width: 100%;
    height: 40vh;
    display: flex;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.range{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
}

.range input {
    width: 100%;
}

.rangeCenter{
    display: flex;
    justify-content: center;
}
