#MainEx--root {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    /* background-color: rgb(103, 60, 79); */

    height: 100vh;
}

.MainEx--tile {
    /* padding-top: 0px; */
    padding: 20px;
    font-family: 'poppins';
    font-weight: 500;
    font-size: 180%;
    text-align: center;
}



.MainEx--container {
    /* min-height: 400px; */
    margin-bottom: 40px;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


@media (max-width: 600px) {
    .MainEx--container {
        min-height: none;
        padding-bottom: 10px;
    }

    .MainEx--tile {
        padding-left: 0px;
        padding-top: 20px;
        text-align: center;
        font-size: 150%;
    }
}

@media (min-width: 2500px) {
    .MainEx--container {
        min-height: none;
        padding-bottom: 10px;
        min-height: 40%;
    }
}