.Ex4--container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Ex4--buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Ex4--right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    min-width: 450px;
}

.Ex4--answers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 5%; */
}

.Ex4--soundButton-container {
    display: flex;
    justify-content: space-evenly;
    min-height: 80px;
}

@media (max-width: 600px) {
    .Ex4--container {
        flex-direction: column-reverse;
        justify-content: center;

        gap: 30px;
    }

    .Ex4--right-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Ex4--answers-container {
        justify-content: center;
        gap: 30px;
    }

    .Ex4--soundButton-container {
        max-width: 100%;
    }

    .Ex4--buttons-container {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
}