.Ex4--container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Ex4--buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Ex4--right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    min-width: 450px;
}

.Ex4--answers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 5%; */
}

.Ex4--soundButton-container {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 600px) {
    .Ex4--container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
    }

    .Ex4--right-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        min-width: 10px;
    }

    .Ex4--answers-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        /* gap: 5%; */
    }
}